


.mv {
    position: relative;
    width: 100%;
    height: 820px;
    overflow: hidden;
}

.mv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mv-text {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 1;
}

.mv h1 {
    color: rgb(255, 88, 174);
    font-size: 170px;
    font-weight: 400;
    margin-bottom: 20px;
}

.mv p {
    color: rgb(255, 88, 174);
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.mv p:last-child {
    font-size: 38px;
    text-shadow: 0 0 8px #fff;
    margin-bottom: 0;
}


/* サブタイトル */
.section-title {
    font-size: 48px;
    color: rgb(255, 88, 174);
    padding: 40px 0;
    padding-left: 60px;
}


.news {
    width: 80%;
    height: 420px;
    margin: 40px auto;
    background: #fff;
    overflow-y: auto;
}

.news-inner {
    width: 100%;
    padding: 40px 60px;
}

.news-container {
    margin-top: 20px;
}

.news-link {
    display: flex;
    align-items: center;
    padding: 18px 10px;
    color: #333;
    transition: background-color .3s;
}

.news-link:hover {
    background: #ffffe5;
}

.news-link:not(:first-child) {
    border-top: 1px solid #ddd;
}

.news-date {
    color: #dc388d;
    font-size: 16px;
    min-width: 120px;
}

.news-title {
    font-size: 26px;
    margin-left: 20px;
    font-weight: 400;
}


.profile {
    width: 80%;
    margin: 40px auto;
    background: #fff;
}

.profile-box {
    padding: 20px 60px 80px;
}

.profile-imgbox {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.profile-imgbox img {
    max-width: 400px;
}

.profile-box h3 {
    font-size: 48px;
    text-align: center;
    color: rgb(255, 88, 174);
    font-weight: 700;
    margin-bottom: 30px;
}

.profile-box p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.8;
    text-align: center;
}


.discography {
    width: 80%;
    margin: 100px auto;
    background: #fff;
    padding-bottom: 60px;
}

.song-container {
    display: flex;
    gap: 20px;
    padding: 60px;
}


.song-box img {
    width: 100%;
    transition: transform .3s;
}

.song-box img:hover {
    transform: scale(1.1)
}

.song-box h3 {
    margin-top: 36px;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
}

.more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    background: #e06296;
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
    padding: 8px;
    border-radius: 8px;
}


.goods {
    width: 80%;
    margin: 100px auto;
    background: #fff;
    padding-bottom: 0;
}

.goods img {
    width: 100%;
}



/* スマホ対応 */

@media screen and (max-width: 600px) {



    .mv {
        height: 350px;
    }

    .mv-text {
        top: 25%;
        left: 5%;
    }

    .mv h1 {
        font-size: 48px;
    }

    .mv p {
        font-size: 24px;
    }

    .mv p:last-child {
        font-size: 16px;
    }


    .section-title {
        font-size: 28px;
        text-align: center;
        padding: 30px 0;
    }

    .news {
        width: 95%;
        height: 200px;
    }

    .news-inner {
        max-width: 600px;
        padding: 30px 20px;
    }

    .news-inner .section-title{
        margin: 0;
        padding: 0;
    }
    .news-link {
        display: block;
    }

    .news-date {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
    }

    .news-title {
        margin-left: 0;
        font-size: 18px;
    }

    .profile {
        width: 95%;
    }

    .profile-box {
        padding: 20px;
    }

    .profile-imgbox {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .profile-imgbox img {
        max-width: 260px;
    }

    .profile-imgbox img:last-child {
        display: none;
    }

    .profile-box h3 {
        font-size: 28px;
    }

    .profile-box p {
        font-size: 14px;
        line-height: 1.2;
        width: 100%;
    }



    .discography {
        width: 95%;
        margin: 60px auto;
    }

    .song-container {
        flex-direction: column;
        padding: 30px;
    }

    .song-box{
        width: 100%;
    }

    .song-box img{
    display: block;
    max-width: 160px;
    margin: 0 auto
    }

    .song-box h3{
    font-size: 18px;
    margin: 0;
    }

    .song-box h4 {
        font-size: 24px;
        margin: 0 auto;
    }

    .more-button {
        
        max-width: 120px;
        font-size: 12px;
    }


    .goods {
        width: 95%;
        margin: 60px auto;
    }


}